body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #eaf0ff;
}

h1 {
  color: #0a003f; 
  font-weight: 700;
}


.card-title {
  text-transform: uppercase;
}

.card {
  background-color: #f3f3f3;
}

label {
  font-weight: 500;
}

input, select {
  border-radius: 0.5rem !important;
}
th {
  background-color: #f0f4ff;
  color: #0d6efd;
}

.table th, .table td {
  vertical-align: middle;
}
